html,
body {
    margin: 0;
    background-color: seashell;
}

div,
section,
article,
header,
footer {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: consolas;
    margin-bottom: 36px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #189AB4;
}

footer {
    margin-top: 36px;
    text-align: center;
}

button {
    background-color: white;
    color: #05445E;
    box-shadow: none;
    border-color: #05445E;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 1.5em;
}

/* struggled to get my grid to work and used this site https://codepen.io/virmasalo/pen/XRmyYE 
to help with the css up above*/

.result {
    color: whitesmoke;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    text-align: center;
}

/* https://stackoverflow.com/questions/43129360/css-grid-wrapping 
    /* used to help figure out how to get the squares in the grid to wrap*/

.face {
    border: solid;
    border-color: #05445E;
    border-radius: 1em;
    border-width: .2em;
}