.grid {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
}

/*display: flex allows 
flex-wrap: wrap allows
grid will have a height and width of 200pxby 400px because 8 impages were used for the matching game */